.art-main {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.body-text {
    font-size: 1.1em;
    line-height: 1.33em;
    font-weight: normal;
    text-align: justify;
}
.body-photo {
    width: 100%;
    height: auto;
    margin: 3px 0;

}